@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html
{
  font-family:sans-serif;
  /*background-color: #4158D0;
background-image: linear-gradient(315deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);*/
  background-color: #FAD961;
  background-image: linear-gradient(135deg, #FAD961 0%, #F76B1C 100%);
  scroll-behavior: smooth;
}
h2
{
  text-align: center;
  color:black;
  font-weight: bolder;
  font-family: 'Bebas Neue', cursive;
}
h1
{
  font-family: 'Bebas Neue', cursive;
  font-size: 60px;
}
body
{
  
  color : black;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
code
{
  font-size: 17px;
}
a
{
  color: rgb(0, 0, 0);
  
}
a.hover
{
  color: red;
}
p
{
  font-size : 20px;
  color: black;
  font-family : sans-serif;
  line-height: 25px;
}
#header-nav
{
  
  border-radius: 0px;
  border: 0px;
  height : 170px;
  font-size : 28px;
  margin-top:0px;
}
#logo-img
{
  width: 150px;
  height: 130px;
  margin: 10px 15px 10px 15px;
  
}
#caution
{
  color : rgb(180, 4, 4);
  font-weight : bolder;
}
.float-container {
  padding: 10px;
}
.float-child.logo
{
  width: 25%;
  height: 80px;
  float: left;
}
.float-child.name
{
  width: 75%;
  float: left;
  text-align:left;
  color: black;
  font-size: 1.2em;
  padding-left: 20px;
  padding-bottom: 10px;
}
.navbar a
{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding-right: 32px;
  padding-left: 45px;
  text-decoration: none;
  font-size: 18px;
  margin-left: 21px;
}
.navbar
{
  width: 100%;
  background-color: black;
  
  overflow: hidden;
}
.navbar a:hover {
  background-color: rgb(209, 209, 209);
  color: black;
}
.navbar a:active
{
  background-color: rgb(5, 142, 196);
  color:aliceblue;
}
.image
{
  width: 100%;
}
.banner
{
  line-height: normal;
  border-color: black;
  border-radius: 25px;
  border-width: 5px;
  border-style: solid;
  font-weight:600;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  width: 80%;
  float:none;
  margin-left: 8%;
}
.links 
{
  width: 100%;
  float: left;
  text-align: left;
  border-color: #FF8552;
  border-collapse: separate;
  border-spacing: 0 15px;
}
.links a
{
  float: center;
  display: block;
  color: #000000;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 18px;
  text-decoration: none;
  font-size: 20px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #52b788;
  border-width: 10px;
  border-radius: 10px;
  height: 50px;
  
}
.links a:hover
{
  background-color: #74c69d;
  color: black;
}
input[type=text]{
  padding: 10px 40px;
  margin: 10px 0 ;
  border: 2px solid rgb(75, 73, 73);
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
}

input[type=radio] {
  opacity: 3;
  width:19px; 
  height:19px;
  margin: 10px 5px ;
}

input[type=checkbox] {
  opacity: 3;
  width:19px; 
  height:19px;
  margin: 10px 5px ;
}

button{
  padding: 20px;
  border:none;
  background-color:black;
  color:white;
  font-weight:600;
  border-radius:5px;
  width: 100% ;
  font-size:medium;
  cursor: grab;
}

button:hover{
    background-color: rgb(209, 209, 209);
    color: black;
    cursor: pointer;
}

*:focus{
    outline: none ;
}

input[type=text]:focus {
  background-color:lightblue;
  border-color: #000;
}

#test-info h2{
    font-family: sans-serif;
}
.info
{
  line-height: normal;
  border-color: white;
  border-left: 0px;
  border-right: 0px;
  border-top: 5px;
  border-bottom: 5px;
  border-style: solid;
  font-weight:600;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  width: 97%;
  float:none;
  
}
li
{
  font-family: sans-serif;
  font-size: 18px;
}

.form
{
  padding: 30px;
}
