h2
{
  text-align: center;
}
body
{
  background-color: #0093E9;
background-image: linear-gradient(315deg, #0093E9 0%, #80D0C7 50%, #ffffff 100%);

  color : black;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
a
{
  color: rgb(0, 0, 0);
  
}
a.hover
{
  color: red;
}
p
{
  font-size : 20px;
  color: black;
  font-family : sans-serif;
  
}
#header-nav
{
  
  border-radius: 0px;
  border: 0px;
  height : 170px;
  font-size : 28px;
  margin-top:0px;
}
#logo-img
{
  width: 150px;
  height: 130px;
  margin: 10px 15px 10px 0;
}
#caution
{
  color : rgb(177, 2, 2);
  font-weight : bolder;
}
.float-container {
  padding: 10px;
}
.float-child.logo
{
  width: 25%;
  height: 80px;
  float: left;
}
.float-child.name
{
  width: 75%;
  float: left;
  text-align:left;
  color: black;
  font-size: 1.2em;
}
.navbar a
{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding-right: 37px;
  padding-left: 40px;
  text-decoration: none;
  font-size: 18px;
  margin-left: 21px;
}
.navbar
{
  width: 100%;
  background-color: black;
  
  overflow: hidden;
}
.navbar a:hover {
  background-color: rgb(209, 209, 209);
  color: black;
}
.navbar a:active
{
  background-color: rgb(5, 142, 196);
  color:aliceblue;
}
.image
{
  width: 100%;
}
.banner
{
  line-height: normal;
  /*background-color: #E6E6E6;*/
  background-color: #DAA49A;
  /*background-color: #CFB1B7;*/
  border-radius: 25px;
  font-weight:600;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  width: 80%;
  float:none;
  margin-left: 8%;
}
.links 
{
  width: 100%;
  float: left;
  text-align: left;
  border-color: #FF8552;
  border-collapse: separate;
  border-spacing: 0 15px;
}
.links a
{
  float: center;
  display: block;
  color: #000000;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 25px;
  text-decoration: none;
  font-size: 20px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #52b788;
  border-width: 10px;
  border-radius: 10px;
  height: 50px;
  
}
.links a:hover
{
  background-color: #74c69d;
  color: black;
}
